#comment-form{
  display: grid;
  grid-template-rows: auto auto auto;

  margin: 2rem 0 4rem 0;
}

/* Display Name and Comment form sections */
#comment-form > input:nth-child(1), textarea:nth-child(2){
	padding: 8px;
	background-color: var(--darktone2);
	color: var(--lighttone1);
	border-color: var(--accent2);
	border-radius: 8px;
  
  margin-bottom: 8px;
}

#comment-form > textarea:nth-child(2){
  min-height: 128px;
  resize: vertical;
}

/* Form Button */
#comment-form > input:nth-child(3){
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  background-color: var(--accent3);
  color: var(--lighttone1);
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.3s, color 0.3s;
}
#comment-form > input:nth-child(3):hover{
  color: var(--darktone2);
  background-color: var(--accent1);
}
#comment-form > input:nth-child(3):active{
  background-color: var(--accent2);
}


#comments{
  display: grid;
  grid-template-columns: auto;
}

.comment{
  margin-bottom: 36px;
}

.comment-header{
  display: grid;
  grid-template-columns: auto auto;

  padding-bottom: 8px;
}

.display-name{
  text-align: left;
  padding: 8px;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--accent2);
}
.date-time{
  text-align: right;
  padding: 8px;
}

.comment-review{
  padding: 8px;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--accent2);
}